<html>
<head>
<script type="text/javascript">
	function httpGetAsync(theUrl, callback) {
	    var xmlHttp = new XMLHttpRequest();
	    xmlHttp.onreadystatechange = function() {
	        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
	            callback(xmlHttp.responseText);
	    }
	    xmlHttp.open("GET", theUrl, true); // true for asynchronous
	    xmlHttp.send(null);
	}

	
</script>
</head>
<body>

<div id="myElement">
	Hị hị 
	<img src="<a data-flickr-embed="true" href="https://www.flickr.com/photos/187457682@N03/49665059496/in/dateposted-public/" title="20160826_102940"><img src="https://live.staticflickr.com/65535/49665059496_9818d571e8_k.jpg">
</div>

</body>
</html>
